body {
  padding: 20px 50px;
  font-family: "Lucida Console", Monaco, monospace;
}

#game-board {
  line-height: 5px
}

.grid-box {
  height: 20px;
  width: 20px;
  background-color: #ddd;
  border: 1px solid #eee;
  display: inline-block;
}

.block {
  background-color: rebeccapurple;
}

.cleared {
  border: 1px solid green;
}